.Countries{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.country-visited{
    background-color: lightgreen;
}
.country-visited p{
    color: red;
    font-size: 15px;
}
.countriesFlag{
    width: 90px;
}
.country-unvisited{
    color: aqua;
    font-size: 20px;
    background-color: peru;
}
.country-border{
    border: 20px;
    border:blue;
}